.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top:10px;
    background-color: #150f0f;
}

.card{
    width: 300px;
    margin:10px; 
    background-color: transparent !important;
}
.card-img{
    height: 300px;
    width: auto;
}

.card-body{
    text-align: center;
    background-color: white;
}
